body{
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    margin: 0;
    padding: 0;
}

.desc{
    font-family: "outfit";
    text-align: center;
}

.pgh1{
    font-size: 20px;
    font-weight: 700;
    color: #232E48;
}

.pgh2{
    margin-top: -5px;
    padding-bottom: 10px;
    color: gray;
    font-size: 14px;
}

.main__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main__container-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5E1EF;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);
}

.card{
    background-color: white;
    padding: 15px;
    width: 250px;
    border-radius: 5%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.card__qr{
    width: 250px;
    border-radius: 5%;
}
